**Autor** : Jeferson Magalhães dos Santos

**e-mail**: jefersonmdossantos@gmail.com
    
**github**: jefersonmglh

#  <a name="indice">  Índice </a>

* [Resumo](#resumo)
* [1. Importação de pacotes e dados](#import)
* [2. Análise preliminar](#visualizacao)
* [3. Tratamento](#tratamento)
* [4. Correlação e Associação](#corr)
* [5. Treinamento do modelo de aprendizado](#modelo)
* [6. Avaliação do modelo](#avaliacao)
* [7. Aprimoramento do modelo](#aprimoramento)
* [8. Conclusão](#conclusao)

#  <a name="resumo"> RESUMO </a>
[Voltar ao índice](#indice)

""

#  <a name="import">1. Importação de pacotes e dados </a>
[Voltar ao índice](#indice)

In [2]:
#basic
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#graph
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno
import chart_studio.plotly as cplt
import plotly.graph_objs as go

#model&metrics
# from sklearn.model_selection import train_test_split
# from sklearn import metrics
# from sklearn.metrics import roc_curve, auc, precision_recall_fscore_support, classification_report
# from scipy.stats import chi2, chi2_contingency, iqr, pearsonr
# from sklearn.preprocessing import StandardScaler

In [21]:
df = pd.read_csv('train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#  <a name="visualizacao">2. Análise preliminar</a>
[Voltar ao índice](#indice)

In [22]:
def show_info(data):
    print('DATASET SHAPE: ', data.shape, '\n')
    print('-'*50)
    print('FEATURE DATA TYPES:')
    print(data.info())
    print('\n', '-'*50)
    print('NUMBER OF UNIQUE VALUES PER FEATURE:', '\n')
    print(data.nunique())
    print('\n', '-'*50)
    print('NULL VALUES PER FEATURE')
    print(data.isnull().sum())
    
show_info(df)

DATASET SHAPE:  (891, 12)

--------------------------------------------------
FEATURE DATA TYPES:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

 --------------------------------------------------
NUMBER OF UNIQUE VALUES PER FEATURE:

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

 --------------------------------------------------
NULL VALUES PER FEATURE
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

* eliminando variáveis que não serão usadas

In [23]:
df = df.drop(columns=['Cabin', 'Name', 'Ticket'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
 8   Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(2)
memory usage: 62.8+ KB

* PassengerID > index

In [25]:
df.set_index(['PassengerId'], inplace=True)

* transformando ['sex'] em binário

In [31]:
df['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [34]:
sex = {'male': '0', 'female': '1'}
df['Sex'] = df['Sex'].replace(sex).astype('int64')
df['Sex']

PassengerId
1      0
2      1
3      1
4      1
5      0
      ..
887    0
888    1
889    1
890    0
891    0
Name: Sex, Length: 891, dtype: int64

#  <a name="tratamento">3. Tratamento</a>
[Voltar ao índice](#indice)

#  <a name="corr">4. Correlação e associação</a>
[Voltar ao índice](#indice)

#  <a name="modelo">5. Treinamento do modelo</a>
[Voltar ao índice](#indice)

#  <a name="avaliacao">6. Avaliação do modelo</a>
[Voltar ao índice](#indice)

#  <a name="aprimoramento">7. Aprimoramento do modelo</a>
[Voltar ao índice](#indice)

#  <a name="conclusao">8. Conclusão</a>
[Voltar ao índice](#indice)